.DS_Store
tags
build
*~
*.dir
x64
Win32
.vs
*.user
/CMakeFiles
/cryptonote_autogen
/Debug
/Intensecoin_autogen
/Release
/src/resources.qrc.depends
*.vcxproj
*.filters
*.VC.VC.opendb
*.VC.db
*.sln
build_version.cc
miniupnpcstrings.h
qrc_resources.cpp
version.h
CryptoNoteWalletConfig.h
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles
